#header {
	background-color: #000;
	color: #fff;
}

h1 {
	font-size: 23px;
}

#header {
	margin-bottom: 25px;
}

	#header #player{
		float: left;
		width: 100%;
	}

	#header #subheader {
		padding-top: 3px;
		clear:both;
	}

	#header #subheader a {
		color: #fff;
	}

	#header #subheader a:hover {
		color: #555;
	}


#container {
	width: 960px;
	margin: 0 auto;
}

#artist_list {
	float: left;
	width: 200px;
}

	#artist_list ul {
		list-style-type: none;
	}

#artist_info {
	float: right;
	width: 760px;
}

.artist_header {
	float: left;
	width: 100%;
}

	.artist_image{
		float:left;
		width: 130px;
		clear: none;
	}

	.artist_meta {
		float: left;
	}

	#artist_videos {
		height: 120px;
		width: 630px;
		overflow-x: scroll;
		white-space: nowrap;
	}

	#artist_videos li{
		display:inline;
		margin-left: 5px;
	}


.artist_tracks {
	float: left;
	clear: both;
	margin-top: 50px;
}

.current_track_playing {
	background-color: #ccc;
}


#artist_search {
	width: 100%;
	height: 40px;
	font-size: 30px;
}