<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Song listing</title>
			
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/app.js" type="text/javascript" charset="utf-8"></script>
			
		<link rel="stylesheet" href="http://www.css-reset.com/css/meyer.css"; media="screen, projection" type="text/css" />
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
	  
		<div id="container">  
		
			<div id='header'>
				<h1><a href="/">Song listing</a></h1>
			</div>
		
			<%- body %>
			
	  </div>  
		
	
	</body>
</html>